# OS-specific files
.DS_Store
Thumbs.db

# IDEs and editors
.vscode/

# Node.js
node_modules/
.env
*.env.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
pnpm-lock.yaml
lerna-debug.log*

# Build artifacts
dist/
lib/
coverage/
.nyc_output/
.cache/

# Logs and temporary files
*.log
*.tmp

# Editor backup files
*.bak
*.swp

# Linter cache
.eslintrc.cache

# TypeScript specific
tsconfig.tsbuildinfo